{% extends 'index.html' %}

{% block body %}
    <form method="POST" action="accountsettings">

    <div class='form-group'>
        <div class="form-row">
            {{ render_field(form.username, class="wow fadeInUp") }}
        </div>

        <div class="form-row">
            {{  render_field(form.password, class="wow fadeInUp") }}
        </div>

        <div class="form-row">
            {{ render_field(form.email, class="wow fadeInUp") }}
        </div>

        <div class="form-row">
            {{ render_field(form.firstname, class="wow fadeInUp") }}
        </div>

        <div class="form-row">
            {{ render_field(form.lastname, class="wow fadeInUp") }}
        </div>

        <div class="form-row">
            {{ render_field(form.age, class="wow fadeInUp") }}
        </div>

        <div class="form-row">
            {{ render_field(form.country, class="wow fadeInUp") }}
        </div>

        <div class="form-row">
            {{ render_field(form.highestqualification, class="wow fadeInUp") }}
        </div>

        <div class="form-row">
            {{ render_field(form.workexperiences, class="wow fadeInUp") }}
        </div>

        <div class="form-row">
            {{ render_field(form.skillsets, class="wow fadeInUp") }}
        </div>

        <div class="form-row">
            {{ render_field(form.awards, class="wow fadeInUp") }}
        </div>

        <div class="form-row">
            {{ render_field(form.bio, class="wow fadeInUp") }}
        </div>
    </div>

        <div class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-11">
                    </div>
                    <div class="form-group col-md-1">
                        <input type="submit" value="Update" class="btn btn-info" href="{{ url_for('update') }}"/>
                    </div>
                </div>
            </div>

    </form>
{% endblock %}
