{% extends 'index.html' %}

{% block body %}
<br>
    <br>
    <br>

    <section id="facts">
    <form action="accountsettings" method="post">

         <div class="container">
            <H3> Hello {{ session["data"]["username"] }}!</H3>
        </div>
    <br>

        <div class="container">
            <div class="row">
                <div class="col-12">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-xs-6">


                    {{ form.otp(class="form-control wow fadeInUp ", placeholder="One-Time Pass") }}
                    {% for message in form.username.errors %}
                        <h6 style="color:red">{{ message }}</h6>
                    {% endfor %}
                    <br>
                </div>
                <div class="col-md-6 col-xs-12">


                    {{ form.username(class="form-control wow fadeInUp ", placeholder="Username") }}
                    {% for message in form.username.errors %}
                        <h6 style="color:red">{{ message }}</h6>
                    {% endfor %}
                    <br>
                </div>
                <div class="col-md-3 col-xs-6">

                    {{ form.password(class="form-control wow fadeInUp", placeholder="Password") }}
                    {% for message in form.password.errors %}
                        <h6 style="color:red">{{ message }}</h6>
                    {% endfor %}
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4 col-xs-12">

                    {{ form.firstname(class="form-control wow fadeInUp", placeholder="First Name") }}
                    {% for message in form.firstname.errors %}
                        <h6 style="color:red">{{ message }}</h6>
                    {% endfor %}
                    <br>
                </div>
                <div class="col-md-4 col-xs-12">

                    {{ form.lastname(class="form-control wow fadeInUp", placeholder="Last Name") }}
                    {% for message in form.lastname.errors %}
                        <h6 style="color:red">{{ message }}</h6>
                    {% endfor %}
                    <br>
                </div>
                <div class="col-md-4 col-xs-12">

                    {{ form.age(class="form-control wow fadeInUp", placeholder="18") }}
                    {% for message in form.age.errors %}
                        <h6 style="color:red">{{ message }}</h6>
                    {% endfor %}
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4 col-xs-12">

                    {{ form.email(class="form-control wow fadeInUp", placeholder="Email") }}
                    {% for message in form.email.errors %}
                        <h6 style="color:red">{{ message }}</h6>
                    {% endfor %}
                    <br>
                </div>
                <div class="col-md-4 col-xs-12">

                    {{ form.skillsets(class="form-control wow fadeInUp", placeholder="Skillsets") }}
                    {% for message in form.skillsets.errors %}
                        <h6 style="color:red">{{ message }}</h6>
                    {% endfor %}
                    <br>
                </div>
                <div class="col-md-4 col-xs-12">

                    {{ form.country(class="form-control wow fadeInUp") }}
                    {% for message in form.country.errors %}
                        <h6 style="color:red">{{ message }}</h6>
                    {% endfor %}
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4 col-xs-12">

                    {{ form.highestqualification(class="form-control wow fadeInUp", placeholder="Highest Qualification") }}
                    {% for message in form.highestqualification.errors %}
                        <h6 style="color:red">{{ message }}</h6>
                    {% endfor %}
                    <br>
                </div>
                <div class="col-md-4 col-xs-12">

                    {{ form.workexperiences(class="form-control wow fadeInUp", placeholder="Work Experience") }}
                    {% for message in form.workexperiences.errors %}
                        <h6 style="color:red">{{ message }}</h6>
                    {% endfor %}
                    <br>
                </div>
                <div class="col-md-4 col-xs-12">

                    {{ form.awards(class="form-control wow fadeInUp", placeholder="Awards") }}
                    {% for message in form.awards.errors %}
                        <h6 style="color:red">{{ message }}</h6>
                    {% endfor %}
                    <br>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-12">

                    {{ form.bio(class="form-control wow fadeInUp", rows="9", col="50") }}
                    {% for message in form.bio.errors %}
                        <h6 style="color:red">{{ message }}</h6>
                    {% endfor %}
                    <br>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8"
                     style="text-align: center">{{ form.submit(class="wow fadeInUp btn btn-primary", style="width:150px") }}</div>
                <div class="col-md-2"></div>
            </div>
            <br>
        </div>
    </form>
</section>
{% endblock %}
