{% extends 'index.html' %}

{% block body %}
<section id="team" style="margin-top:100px;">
        <div class="container wow fadeInUp">
        <div class="section-header">
            <h3 class="section-title">Help</h3>
            <p class="section-description">You can find FAQs and other Help toolbars from here!</p>
        </div>
        <div id="content">
        <div id="introduction">
            <div class="wrapper">
                <h1 >Frequently Asked Questions</h1>
                <h2>You ask, and we answer.</h2>				<p>Having a website built can be an overwhelming experience, even for the most IT savvy people. At Mity Digital, we are here to support you through the whole process to help create a website that will deliver results for your business.</p>
            </div>
        </div>
            <div class="wrapper">
                <div class="insite-wrapper insite-faqs"><div class="wrapper">
                    <ol>
                        <li>
                            <div class="faq-question">How well does MyPortfolio help you?</div>
                            <div class="faq-body"><p>This website allows you to find and associate good future options for you! Be it finding you a job, referring you to other employers.</p></div>
                        </li>
                        <li>
                            <div class="faq-question">How long does does the course take?</div>
                            <div class="faq-body"><p>The time it takes to produce a website depends on the size and complexity of your site. A basic website typically takes around 4-6 weeks from beginning to end. Some more custom and complex project may take longer.</p></div>
                        </li>
                        <li>
                            <div class="faq-question">Will my website work on mobile devices?</div>
                            <div class="faq-body"><p>Yes, we ensure our sites work on all devices, including desktops, laptops, tablets and mobiles.</p></div>
                        </li>
                        <li>
                            <div class="faq-question">Do you build mobile apps?</div>
                            <div class="faq-body"><p>No, we don't - but we do make our websites work on all devices. Developing an app for mobiles and tablets across the range of different platforms can be an expensive task, and in some cases can be resolved with a responsive website.</p></div>
                        </li>
                        <li>
                            <div class="faq-question">Can I sell products on my website?</div>
                            <div class="faq-body"><p>Sure thing - our content management system can build and host your online store, and we can set up all of the security necessary to ensure your customers' details remain safe and secure.</p></div>
                        </li>
                        <li>
                            <div class="faq-question">What is a Content Management System (CMS)?</div>
                            <div class="faq-body"><p>A content management system (CMS) enables you to maintain the content on your website without any additional software our technical skill. When using a CMS, you can add new pages, upload images and be in full control of your site - all you need is a web browser and an internet connection.</p></div>
                        </li>


                    </ol>


                </div></div>
            </div>
        </div>
        </div>


        </section><!-- #team -->
    <section id="portfolio">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Team</h3>
          <p class="section-description">This team consists of 4 of us</p>
        </div>


        <div class="row" id="portfolio-wrapper">
          <div class="col-lg-3 col-md-6 portfolio-item filter-app">
            <a href="">
              <img style="height:250px; width:300px;" src="../static/images/team-1.jpg" alt="">
              <div class="details">
                <h4>Jia Jun</h4>
                <span>Leader</span>
              </div>
            </a>

          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-web">
            <a href="">
              <img style="height:250px; width:300px;" src="../static/images/team-2.jpg" alt="">
              <div class="details">
                <h4>Argel</h4>
                <span>Not leader</span>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-app">
            <a href="">
              <img style="height:250px; width:300px;" src="../static/images/team-3.jpg" alt="">
              <div class="details">
                <h4>Yao Guang</h4>
                <span>Not leader</span>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-card">
            <a href="">
              <img style="height:250px; width:300px;" src="../static/images/team-4.jpg" alt="">
              <div class="details">
                <h4>Zheng Ting</h4>
                <span>Not leader</span>
              </div>
            </a>
          </div>



        </div>
		</div>

    </section><!-- #portfolio -->
        <!--==========================
          Contact Section
        ============================-->
        <section id="contact">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">Location</h3>
                <p class="section-description">Our location is located here at Nanyang Polytechnic!</p>
            </div>
        </div>
        <div style="height:500px;" id="google-map" data-latitude="1.3801179" data-longitude="103.8490221"></div>
            <br>
            <br>

            <div style="text-align:center;" class="container">
            <h3>Any inquiries? Click these buttons for more options!</h3>
            </div>

        <div class="container wow fadeInUp">
        <div class="row justify-content-center">
            <div class=" col-lg-3 col-md-3">

                <div style="box-shadow:0 4px 8px 0 rgba(0,0,0,0.2); transition:0.3s; height:150px;">
                    <a href="{{ url_for("accountsettings") }}">  <img style="width:255px;height:150px;max-width:100%;max-height:100%;" src="http://cdn.onlinewebfonts.com/svg/img_397859.png"></a>
                    <h4 style="text-align:center;">Modify your account!</h4>
                </div>
            </div>
            <div class=" col-lg-3 col-md-3">

                <div style="box-shadow:0 4px 8px 0 rgba(0,0,0,0.2); transition:0.3s; height:150px;">
                    <a href="{{ url_for("contact") }}">  <img style="height:150px;max-width:100%;max-height:100%;" src="http://altice.net/sites/default/files/header/contact_header_0.jpg"></a>
                    <h4 style="text-align:center;">Contact Us!</h4>
                </div>
            </div>

        </div>

        </div>

    </section>
    <br>
    <br>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5nbZzRV9v9a_gE5zRRdMZYx8Qb0Oz6eE"></script>1
{% endblock %}
