<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Regna Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/images/MyPortfolioLogo.png" rel="icon">
  <link href="../static/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/css/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->

    {% block additionalheadscripts %}{% endblock %}
</head>

<body>

{% block inlinecss %}{% endblock %}

{% include 'includes/_header.html' %}

{% block body %}{% endblock %}

{% include 'includes/_footer.html' %}



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="../static/js/jquery/jquery.min.js"></script>
  <script src="../static/js/jquery/jquery-migrate.min.js"></script>
  <script src="../static/js/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="../static/js/easing/easing.min.js"></script>
  <script src="../static/js/wow/wow.min.js"></script>

  <script src="../static/js/waypoints/waypoints.min.js"></script>
  <script src="../static/js/counterup/counterup.min.js"></script>
  <script src="../static/js/superfish/hoverIntent.js"></script>
  <script src="../static/js/superfish/superfish.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="../static/js/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>
    {% block additionalscripts %}{% endblock %}
</body>
</html>
